<div class="row">

    <div class="col-md-2 d-sm-none d-md-block" id="myBG"></div>

    <div class="container col-md-8 bg-white" *ngIf="!!blog">

        <div class="d-flex justify-content-center m-3">
            <h1 class="display-4 mt-5 text-center">{{blog.title}}</h1>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <h6>Written by {{blog.username}} - {{blog.publishDate | date:'medium'}}
                <span *ngIf="blog.publishDate !== blog.updateDate"> | Updated on {{blog.updateDate |
                    date:'medium'}}</span>
            </h6>
        </div>


        <div class="mt-4 m-4">
            <img src="{{blogPhotoUrl}}" class="blog-image img-fluid text-wrapper">
            <blockquote class="blog-content blockquote">
                {{blog.content}}
            </blockquote>
        </div>


        <app-comment-system *ngIf="blog" [blogId]="blog.blogId"></app-comment-system>

    </div>

    <div id="myBG" class="col-md-2 d-sm-none d-md-block"></div>

</div>