.btn{
    color:lightseagreen;
    background-color:#fff;
    border-color:#285e8e; /*set the color you want here*/
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #fff;
    background-color:#B0C4DE;
    border-color: #285e8e; /*set the color you want here*/
}

.cardBorder{
    border-radius:20px;
}

.photoBorder{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;;
}