.save{
    color:#5f9f8d;
}

#myBG {
    background: url(../../../../assets/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1000px;
}

#myBG .dark-overlay {
    top: 1;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    min-height: 1000px;
}