body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

.content {
    min-height: calc(100vh - 100px);
}

.footer {
    text-align:center;
    background: #f5f5f5;
}

.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    color: #5f9f8d;
}