<app-navbar></app-navbar>

<div class="content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="social">
        <a href="https://www.linkedin.com/in/cansu-g%C3%BCrel/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/CansuG" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="container">
        <span class="text-muted"> © <span id="year">2022</span> BlogLab - All right reserved.</span>
    </div>
</footer>