<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<app-navbar></app-navbar>

<div class="content">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="social">
        <a href="https://www.linkedin.com/in/cansu-g%C3%BCrel/">
            <i class="icon ion-social-linkedin"></i>
        </a>
        <a href="https://github.com/CansuG">
            <i class="icon ion-social-github"></i>
        </a>
    </div>
    <div class="container">
        <span class="text-muted"> © <span id="year">2022</span> BlogLab - All right reserved.</span>
    </div>
</footer>